:root {
  --prismane-animation-duration-long: "700ms";
  --prismane-animation-duration-middle: "500ms";
  --prismane-animation-duration-short: "300ms";
  --prismane-colors-base-100: "241 245 249";
  --prismane-colors-base-200: "226 232 240";
  --prismane-colors-base-300: "203 213 225";
  --prismane-colors-base-400: "148 163 184";
  --prismane-colors-base-50: "248 250 252";
  --prismane-colors-base-500: "100 116 139";
  --prismane-colors-base-600: "71 85 105";
  --prismane-colors-base-700: "51 65 85";
  --prismane-colors-base-800: "30 41 59";
  --prismane-colors-base-900: "15 23 42";
  --prismane-colors-primary-100: "224 231 255";
  --prismane-colors-primary-200: "199 210 254";
  --prismane-colors-primary-300: "165 180 252";
  --prismane-colors-primary-400: "129 140 248";
  --prismane-colors-primary-50: "238 242 255";
  --prismane-colors-primary-500: "99 102 241";
  --prismane-colors-primary-600: "79 70 229";
  --prismane-colors-primary-700: "67 56 202";
  --prismane-colors-primary-800: "55 48 163";
  --prismane-colors-primary-900: "49 46 129";
  --prismane-spacing: "4px";
}

html {
  font-size: calc(4 * var(--prismane-spacing));
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
  box-shadow: inset 0 0 0px 9999px white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 border-0;
  }

  input {
    @apply bg-transparent focus:outline-none;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-xs;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-base-800;
  }

  p,
  span {
    @apply text-base text-base-600;
  }
}
